package ${servicePackage}.impl;

import ${daoPackage}.${daoClassName};
import ${dtoPackage}.${dtoClassName};
import ${servicePackage}.${serviceClassName};
import com.wangpj.platform.util.BaseDtoUtil;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import java.util.List;
@Service
public class ${serviceClassName}Impl implements ${serviceClassName} {

    @Autowired
    ${daoClassName} ${daoObjectName};

@Override
    public int deleteByPrimaryKey(Long id) {
        return ${daoObjectName}.deleteByPrimaryKey(id);
    }

    @Override
    public int insert(${dtoClassName} ${dtoObjectName})
    {
        BaseDtoUtil.create(${dtoObjectName});
        return ${daoObjectName}.insert(${dtoObjectName});
    }

    @Override
    public int insertList(List<${dtoClassName}> ${dtoObjectName}List)
    {
        for (${dtoClassName} ${dtoObjectName}:
        ${dtoObjectName}List) {
        BaseDtoUtil.create(${dtoObjectName});
        ${daoObjectName}.insert(${dtoObjectName});
        }
        return 0;
    }

    @Override
    public ${dtoClassName} selectByPrimaryKey(Long id)
    {
        ${dtoClassName} ${dtoClassName}=${daoObjectName}.selectByPrimaryKey(id);
        return ${dtoClassName};
    }

    @Override
    public List<${dtoClassName}> selectAll() {
        return ${daoObjectName}.selectAll();
    }

    @Override
    public int updateByPrimaryKey(${dtoClassName} ${dtoObjectName}) throws Exception
    {
        BaseDtoUtil.update(${dtoObjectName});
        int ${daoObjectName}Line=${daoObjectName}.updateByPrimaryKey(${dtoObjectName});
        if(${daoObjectName}Line==0)
        {
        ${dtoClassName} ${dtoClassName}=selectByPrimaryKey(${dtoObjectName}.getId());
        if (${dtoClassName}==null)
        {
        throw new Exception("not have the id "+${dtoObjectName}.getId()+",update failed");
        }
        if (${dtoObjectName}.getVersion()<${dtoClassName}.getVersion())
        {
        throw new Exception("old version,current new version is "+${dtoClassName}.getVersion()+
        "update version is "+${dtoObjectName}.getVersion()+",update failed");
        }
        }
        return ${daoObjectName}Line;
    }

    @Override
    public int deleteAll() {
    return ${daoObjectName}.deleteAll();
    }
}
