package ${servicePackage}.impl;

import ${daoPackage}.${daoClass};
import ${dtoPackage}.${dtoClass};
import ${servicePackage}.${serviceClass};
import com.wangpj.platform.util.BaseDtoUtil;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import java.util.List;
@Service
public class ${serviceClass}Impl implements ${serviceClass} {

    @Autowired
    ${daoClass} ${daoObject};

@Override
    public int deleteByPrimaryKey(Integer id) {
        return ${daoObject}.deleteByPrimaryKey(id);
    }

    @Override
    public int insert(${dtoClass} ${dtoObject})
    {
        BaseDtoUtil.create(${dtoObject});
        return ${daoObject}.insert(${dtoObject});
    }

    @Override
    public int insertList(List<${dtoClass}> ${dtoObject}List)
    {
        for (${dtoClass} ${dtoObject}:
        ${dtoObject}List) {
        BaseDtoUtil.create(${dtoObject});
        ${daoObject}.insert(${dtoObject});
        }
        return 0;
    }

    @Override
    public ${dtoClass} selectByPrimaryKey(Integer id)
    {
        ${dtoClass} ${dtoClass}=${daoObject}.selectByPrimaryKey(id);
        return ${dtoClass};
    }

    @Override
    public List<${dtoClass}> selectAll() {
        return ${daoObject}.selectAll();
    }

    @Override
    public int updateByPrimaryKey(${dtoClass} ${dtoObject}) throws Exception
    {
        BaseDtoUtil.update(${dtoObject});
        int ${daoObject}Line=${daoObject}.updateByPrimaryKey(${dtoObject});
        if(${daoObject}Line==0)
        {
        ${dtoClass} ${dtoClass}=selectByPrimaryKey(${dtoObject}.getId());
        if (${dtoClass}==null)
        {
        throw new Exception("not have the id "+${dtoObject}.getId()+",update failed");
        }
        if (${dtoObject}.getVersion()<${dtoClass}.getVersion())
        {
        throw new Exception("old version,current new version is "+${dtoClass}.getVersion()+
        "update version is "+${dtoObject}.getVersion()+",update failed");
        }
        }
        return ${daoObject}Line;
    }

    @Override
    public int deleteAll() {
    return ${daoObject}.deleteAll();
    }
}
