package ${servicePackage};


import ${dtoPackage}.${dtoClassName};
import org.springframework.stereotype.Service;
import java.util.List;
@Service
public interface ${serviceClassName} {

    int deleteByPrimaryKey(Long id);
    int insert(${dtoClassName} ${dtoObjectName});
    int insertList(List<${dtoClassName}> ${dtoObjectName}List);
    ${dtoClassName} selectByPrimaryKey(Long id);
    List<${dtoClassName}> selectAll();
    int updateByPrimaryKey(${dtoClassName} ${dtoObjectName}) throws Exception;
    int deleteAll();
    int updateByPrimaryKeySelective(${dtoClassName} ${dtoObjectName});
}
